// TokyoNight Night theme for gitui
(
    selected_tab: Reset,
    command_fg: Rgb(192, 202, 245),
    selection_bg: Rgb(41, 46, 66),
    selection_fg: Rgb(192, 202, 245),
    cmdbar_bg: Rgb(26, 27, 38),
    cmdbar_extra_lines_bg: Rgb(26, 27, 38),
    disabled_fg: Rgb(86, 95, 137),
    diff_line_add: Rgb(158, 206, 106),
    diff_line_delete: Rgb(247, 118, 142),
    diff_file_added: Rgb(115, 218, 202),
    diff_file_removed: Rgb(247, 118, 142),
    diff_file_moved: Rgb(187, 154, 247),
    diff_file_modified: Rgb(224, 175, 104),
    commit_hash: Rgb(187, 154, 247),
    commit_time: Rgb(125, 207, 255),
    commit_author: Rgb(158, 206, 106),
    danger_fg: Rgb(247, 118, 142),
    push_gauge_bg: Rgb(65, 72, 104),
    push_gauge_fg: Rgb(192, 202, 245),
    tag_fg: Rgb(187, 154, 247),
    branch_fg: Rgb(224, 175, 104),
)
